[submodule "external/vk-bootstrap"]
	path = engine/third_party/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "external/imgui"]
	path = engine/third_party/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/SDL"]
	path = engine/third_party/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/VulkanMemoryAllocator"]
	path = engine/third_party/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "external/glm"]
	path = engine/third_party/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/nativefiledialog-extended"]
	path = engine/third_party/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "external/tinygltf"]
	path = engine/third_party/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "engine/third_party/volk"]
	path = engine/third_party/volk
	url = https://github.com/zeux/volk.git
